In [109]:
import pandas as pd

In [110]:
confirmed = pd.read_csv('time_series_covid_19_confirmed.csv')
confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1176,1279,1351,1463,1531,1703,1828,1939,2171,2335
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,634,663,678,712,726,736,750,766,773,782
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,2910,3007,3127,3256,3382,3517,3649,3848,4006,4154
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,723,723,731,738,738,743,743,743,745,745
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,25,25,25,25,26,27,27,27,27,30

In [111]:
deaths = pd.read_csv('time_series_covid_19_deaths.csv')
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,40,42,43,47,50,57,58,60,64,68
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,27,27,27,27,28,28,30,30,31,31
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,402,407,415,419,425,432,437,444,450,453
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,37,37,40,40,40,40,41,42,42,43
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [112]:
recovered = pd.read_csv('time_series_covid_19_recovered.csv')
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,166,179,188,188,207,220,228,252,260,310
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,356,385,394,403,410,422,431,455,470,488
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1204,1355,1408,1479,1508,1558,1651,1702,1779,1821
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,309,333,344,344,344,385,398,423,468,468
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,6,6,6,6,6,6,6,7,7,11

In [113]:
confirmed_unpivot = confirmed.groupby('Country/Region').sum().reset_index().melt(id_vars=confirmed.columns[1:4], var_name='Date', value_name='Confirmed')
deaths_unpivot = deaths.groupby('Country/Region').sum().reset_index().melt(id_vars=deaths.columns[1:4], var_name='Date', value_name='Deaths')
recovered_unpivot = recovered.groupby('Country/Region').sum().reset_index().melt(id_vars=recovered.columns[1:4], var_name='Date', value_name='Recovered')

In [114]:
join_on = ['Country/Region','Date']
confirmed_deaths = pd.merge(confirmed_unpivot, deaths_unpivot.drop(['Lat','Long'],axis=1), left_on=join_on, right_on=join_on)

In [115]:
confirmed_deaths_recovered = pd.merge(confirmed_deaths, recovered_unpivot.drop(['Lat','Long'],axis=1), left_on=join_on, right_on=join_on)

In [116]:
confirmed_deaths_recovered.head()

  Country/Region      Lat     Long     Date  Confirmed  Deaths  Recovered
0    Afghanistan  33.0000  65.0000  1/22/20          0       0          0
1        Albania  41.1533  20.1683  1/22/20          0       0          0
2        Algeria  28.0339   1.6596  1/22/20          0       0          0
3        Andorra  42.5063   1.5218  1/22/20          0       0          0
4         Angola -11.2027  17.8739  1/22/20          0       0          0

In [117]:
confirmed_deaths_recovered.to_csv('confirmed_deaths_recovered.csv')

In [118]:
confirmed[confirmed['Country/Region'] == 'China']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20
49,Anhui,China,31.8257,117.2264,1,9,15,39,60,70,...,991,991,991,991,991,991,991,991,991,991
50,Beijing,China,40.1824,116.4142,14,22,36,41,68,80,...,593,593,593,593,593,593,593,593,593,593
51,Chongqing,China,30.0572,107.8740,6,9,27,57,75,110,...,579,579,579,579,579,579,579,579,579,579
52,Fujian,China,26.0789,117.9874,1,5,10,18,35,59,...,355,355,355,355,355,355,355,355,356,356
53,Gansu,China,37.8099,101.0583,0,2,2,4,7,14,...,139,139,139,139,139,139,139,139,139,139
54,Guangdong,China,23.3417,113.4244,26,32,53,78,111,151,...,1582,1585,1585,1586,1587,1587,1588,1588,1588,1588
55,Guangxi,China,23.8298,108.7881,2,5,23,23,36,46,...,254,254,254,254,254,254,254,254,254,254
56,Guizhou,China,26.8154,106.8748,1,3,3,4,5,7,...,147,147,147,147,147,147,147,147,147,147
57,Hainan,China,19.1959,109.7453,4,5,8,19,22,33,...,168,168,168,168,168,168,168,168,168,168
58,Hebei,China,39.5490,116.1306,1,1,2,8,13,18,...,328,328,328,328,328,328,328,328,328,328
59,Heilongjiang,China,47.8620,127.7615,0,2,4,9,15,21,...,921,928,930,935,936,939,939,939,944,944
60,Henan,China,33.8820,113.6140,5,5,9,32,83,128,...,1276,1276,1276,1276,1276,1276,1276,1276,1276,1276
61,Hong Kong,China,22.3000,114.2000,0,2,2,5,8,8,...,1033,1035,1035,1037,1037,1037,1037,1037,1037,1039
62,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,68128,68128,68128,68128,68128,68128,68128,68128,68128,68128
63,Hunan,China,27.6104,111.7088,4,9,24,43,69,100,...,1019,1019,1019,1019,1019,1019,1019,1019,1019,1019
64,Inner Mongolia,China,44.0935,113.9448,0,0,1,7,7,11,...,194,194,197,198,198,199,199,200,201,201
65,Jiangsu,China,32.9711,119.4550,1,5,9,18,33,47,...,653,653,653,653,653,653,653,653,653,653
66,Jiangxi,China,27.6140,115.7221,2,7,18,18,36,72,...,937,937,937,937,937,937,937,937,937,937
67,Jilin,China,43.6661,126.1923,0,1,3,4,4,6,...,106,108,109,109,110,110,110,111,111,112
68,Liaoning,China,41.2956,122.6085,2,3,4,17,21,27,...,146,146,146,146,146,146,146,146,146,146
69,Macau,China,22.1667,113.5500,1,2,2,2,5,6,...,45,45,45,45,45,45,45,45,45,45
70,Ningxia,China,37.2692,106.1655,1,1,2,3,4,7,...,75,75,75,75,75,75,75,75,75,75
71,Qinghai,China,35.7452,95.9956,0,0,0,1,1,6,...,18,18,18,18,18,18,18,18,18,18
72,Shaanxi,China,35.1917,108.8701,0,3,5,15,22,35,...,279,279,286,286,286,286,306,306,306,306
73,Shandong,China,36.3427,118.1498,2,6,15,27,46,75,...,787,787,787,787,787,787,787,787,787,787
74,Shanghai,China,31.2020,121.4491,9,16,20,33,40,53,...,639,641,641,642,642,644,645,647,652,652
75,Shanxi,China,37.5777,112.2922,1,1,1,6,9,13,...,197,197,197,197,197,197,197,197,197,197
76,Sichuan,China,30.6171,102.7103,5,8,15,28,44,69,...,561,561,561,561,561,561,561,561,561,561
77,Tianjin,China,39.3054,117.3230,4,4,8,10,14,23,...,189,189,190,190,190,190,190,190,190,190
78,Tibet,China,31.6927,88.0924,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
79,Xinjiang,China,41.1129,85.2401,0,2,2,3,4,5,...,76,76,76,76,76,76,76,76,76,76
80,Yunnan,China,24.9740,101.4870,1,2,5,11,16,26,...,184,184,185,185,185,185,185,185,185,185
81,Zhejiang,China,29.1832,120.0934,10,27,43,62,104,128,...,1268,1268,1268,1268,1268,1268,1268,1268,1268,1268

In [119]:
def integrate(confirmed):
    confirmed.loc[confirmed['Country/Region']=='Taiwan*','Province/State'] = 'Taiwan'
    confirmed.loc[confirmed['Country/Region']=='Taiwan*','Country/Region'] = 'China'

In [120]:
integrate(confirmed)
integrate(deaths)
integrate(recovered)

In [121]:
confirmed_China = confirmed[confirmed['Country/Region'] == 'China']

In [122]:
deaths_China = deaths[deaths['Country/Region'] == 'China']

In [123]:
recovered_China = recovered[recovered['Country/Region'] == 'China']

In [124]:
confirmed_China.to_csv('confirmed_China.csv')
deaths_China.to_csv('deaths_China.csv')
recovered_China.to_csv('recovered_China.csv')

In [125]:
def calc_growth(confirmed_China):
    timeline = confirmed_China.columns[4:]
    growth_confirmed_China = confirmed_China.iloc[:,:-1]
    for i in range(len(timeline)-1):
        growth_confirmed_China[timeline[i]] = confirmed_China[timeline[i+1]] - confirmed_China[timeline[i]]
    return growth_confirmed_China

In [126]:
growth_confirmed = calc_growth(confirmed)
growth_deaths = calc_growth(deaths)
growth_recovered = calc_growth(recovered)

In [127]:
growth_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,84,103,72,112,68,172,125,111,232,164
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,25,29,15,34,14,10,14,16,7,9
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,99,97,120,129,126,135,132,199,158,148
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,6,0,8,7,0,5,0,0,2,0
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,1,0,0,0,1,1,0,0,0,3

In [128]:
growth_confirmed_unpivot = growth_confirmed.groupby('Country/Region').sum().reset_index().melt(id_vars=growth_confirmed.columns[1:4], var_name='Date', value_name='Confirmed')
growth_deaths_unpivot = growth_deaths.groupby('Country/Region').sum().reset_index().melt(id_vars=growth_deaths.columns[1:4], var_name='Date', value_name='Deaths')
growth_recovered_unpivot = growth_recovered.groupby('Country/Region').sum().reset_index().melt(id_vars=growth_recovered.columns[1:4], var_name='Date', value_name='Recovered')

In [129]:
growth_confirmed_deaths = pd.merge(growth_confirmed_unpivot, growth_deaths_unpivot.drop(['Lat','Long'],axis=1), left_on=join_on, right_on=join_on)
growth_confirmed_deaths_recovered = pd.merge(growth_confirmed_deaths, growth_recovered_unpivot.drop(['Lat','Long'],axis=1), left_on=join_on, right_on=join_on)

In [130]:
growth_confirmed_deaths_recovered.head()

  Country/Region      Lat     Long     Date  Confirmed  Deaths  Recovered
0    Afghanistan  33.0000  65.0000  1/22/20          0       0          0
1        Albania  41.1533  20.1683  1/22/20          0       0          0
2        Algeria  28.0339   1.6596  1/22/20          0       0          0
3        Andorra  42.5063   1.5218  1/22/20          0       0          0
4         Angola -11.2027  17.8739  1/22/20          0       0          0

In [131]:
confirmed_deaths_recovered.loc[confirmed_deaths_recovered['Lat']==0,:]

         Country/Region  Lat  Long     Date  Confirmed  Deaths  Recovered
48     Diamond Princess  0.0   0.0  1/22/20          0       0          0
103          MS Zaandam  0.0   0.0  1/22/20          0       0          0
235    Diamond Princess  0.0   0.0  1/23/20          0       0          0
290          MS Zaandam  0.0   0.0  1/23/20          0       0          0
422    Diamond Princess  0.0   0.0  1/24/20          0       0          0
477          MS Zaandam  0.0   0.0  1/24/20          0       0          0
609    Diamond Princess  0.0   0.0  1/25/20          0       0          0
664          MS Zaandam  0.0   0.0  1/25/20          0       0          0
796    Diamond Princess  0.0   0.0  1/26/20          0       0          0
851          MS Zaandam  0.0   0.0  1/26/20          0       0          0
983    Diamond Princess  0.0   0.0  1/27/20          0       0          0
1038         MS Zaandam  0.0   0.0  1/27/20          0       0          0
1170   Diamond Princess  0.0   0.0  1/28/20          0       0          0
1225         MS Zaandam  0.0   0.0  1/28/20          0       0          0
1357   Diamond Princess  0.0   0.0  1/29/20          0       0          0
1412         MS Zaandam  0.0   0.0  1/29/20          0       0          0
1544   Diamond Princess  0.0   0.0  1/30/20          0       0          0
1599         MS Zaandam  0.0   0.0  1/30/20          0       0          0
1731   Diamond Princess  0.0   0.0  1/31/20          0       0          0
1786         MS Zaandam  0.0   0.0  1/31/20          0       0          0
1918   Diamond Princess  0.0   0.0   2/1/20          0       0          0
1973         MS Zaandam  0.0   0.0   2/1/20          0       0          0
2105   Diamond Princess  0.0   0.0   2/2/20          0       0          0
2160         MS Zaandam  0.0   0.0   2/2/20          0       0          0
2292   Diamond Princess  0.0   0.0   2/3/20          0       0          0
2347         MS Zaandam  0.0   0.0   2/3/20          0       0          0
2479   Diamond Princess  0.0   0.0   2/4/20          0       0          0
2534         MS Zaandam  0.0   0.0   2/4/20          0       0          0
2666   Diamond Princess  0.0   0.0   2/5/20          0       0          0
2721         MS Zaandam  0.0   0.0   2/5/20          0       0          0
...                 ...  ...   ...      ...        ...     ...        ...
16130  Diamond Princess  0.0   0.0  4/17/20        712      13        644
16185        MS Zaandam  0.0   0.0  4/17/20          9       2          0
16317  Diamond Princess  0.0   0.0  4/18/20        712      13        644
16372        MS Zaandam  0.0   0.0  4/18/20          9       2          0
16504  Diamond Princess  0.0   0.0  4/19/20        712      13        644
16559        MS Zaandam  0.0   0.0  4/19/20          9       2          0
16691  Diamond Princess  0.0   0.0  4/20/20        712      13        644
16746        MS Zaandam  0.0   0.0  4/20/20          9       2          0
16878  Diamond Princess  0.0   0.0  4/21/20        712      13        644
16933        MS Zaandam  0.0   0.0  4/21/20          9       2          0
17065  Diamond Princess  0.0   0.0  4/22/20        712      13        644
17120        MS Zaandam  0.0   0.0  4/22/20          9       2          0
17252  Diamond Princess  0.0   0.0  4/23/20        712      13        645
17307        MS Zaandam  0.0   0.0  4/23/20          9       2          0
17439  Diamond Princess  0.0   0.0  4/24/20        712      13        645
17494        MS Zaandam  0.0   0.0  4/24/20          9       2          0
17626  Diamond Princess  0.0   0.0  4/25/20        712      13        645
17681        MS Zaandam  0.0   0.0  4/25/20          9       2          0
17813  Diamond Princess  0.0   0.0  4/26/20        712      13        645
17868        MS Zaandam  0.0   0.0  4/26/20          9       2          0
18000  Diamond Princess  0.0   0.0  4/27/20        712      13        645
18055        MS Zaandam  0.0   0.0  4/27/20          9       2          0
18187  Diamond Princess  0.0   0.0  4/28/20        712      13        645
18242        MS Zaandam  0.0   0.0  4/28/20          9       2          0
18374  Diamond Princess  0.0   0.0  4/29/20        712      13        645
18429        MS Zaandam  0.0   0.0  4/29/20          9       2          0
18561  Diamond Princess  0.0   0.0  4/30/20        712      13        645
18616        MS Zaandam  0.0   0.0  4/30/20          9       2          0
18748  Diamond Princess  0.0   0.0   5/1/20        712      13        645
18803        MS Zaandam  0.0   0.0   5/1/20          9       2          0

[202 rows x 7 columns]

In [132]:
growth_confirmed_deaths_recovered.to_csv('growth_confirmed_deaths_recovered.csv')

In [133]:
growth_confirmed_China = calc_growth(confirmed_China)
growth_deaths_China = calc_growth(deaths_China)
growth_recovered_China = calc_growth(recovered_China)

In [134]:
growth_confirmed_China.to_csv('growth_confirmed_China.csv')
growth_deaths_China.to_csv('growth_deaths_China.csv')
growth_recovered_China.to_csv('growth_recovered_China.csv')